@import "../../scss/global.scss";

.left-pusher {
  margin-left: $offcanvas-menu-width;
}

section.resume-section {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 75rem;

  .resume-section-content {
      width: 100%;
  }
}