@import "../../../scss/global.scss";

.side-bar {
  height: 100%;
  width:  $offcanvas-menu-width;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 16px;
}

.side-bar a {
  text-decoration: none;
  display: block;
}

.side-bar a:hover {
  color: #f1f1f1;
}
