.nav-brand-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.action-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.theme-icon,
.language-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.flag-icon,
.btn-icon {
  font-size: 1rem;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.modal-btn {
  margin-right: 0.5rem;
}

.btn-icon {
  margin-right: 0.5rem;
}