.mobile-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  background-color: rgb(32, 27, 32);
  padding: 1rem;
  height: 64px;
}

.mobile-nav-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #0366d6;
  /* GitHub primary button color */
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

.mobile-nav-button:hover {
  background-color: #0056b3;
  /* Darker primary color */
}

.mobile-nav-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(3, 102, 214, 0.5);
}

.icon {
  font-size: 1.25rem;
}

.overlay-menu {
  z-index: 1060;
}